.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: transparent; /* <-- ¡Este es el cambio! */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: white;
  background-image: linear-gradient(45deg, #0d6efd, #0dcaf0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.dialog-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.dialog-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.balance-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.current-month {
  background-color: #eaf3ff;
  font-weight: bold;
}

.positive {
  color: #198754; /* Verde Bootstrap */
}

.negative {
  color: #dc3545; /* Rojo Bootstrap */
}
